#board{
    position: absolute;
    left: 350px;
    top: 0;
    border: 3px solid #000;
    font-size: 7px;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(0,0,0,.4);
    transition: all 1s ease-in-out;

    -webkit-transform:  perspective(1000px) rotateX( 53deg );
       -moz-transform:  perspective(1000px) rotateX( 53deg );
         -o-transform:  perspective(1000px) rotateX( 53deg );
            transform:  perspective(1000px) rotateX( 53deg );
}

#board.tilt-90{
    -webkit-transform:  perspective(1000px) rotateX( 53deg ) rotateZ(90deg);
       -moz-transform:  perspective(1000px) rotateX( 53deg ) rotateZ(90deg);
         -o-transform:  perspective(1000px) rotateX( 53deg ) rotateZ(90deg);
            transform:  perspective(1000px) rotateX( 53deg ) rotateZ(90deg);
}

#board.tilt-180{
    -webkit-transform:  perspective(1000px) rotateX( 53deg ) rotateZ(180deg);
       -moz-transform:  perspective(1000px) rotateX( 53deg ) rotateZ(180deg);
         -o-transform:  perspective(1000px) rotateX( 53deg ) rotateZ(180deg);
            transform:  perspective(1000px) rotateX( 53deg ) rotateZ(180deg);
}

#board.tilt-270{
    -webkit-transform:  perspective(1000px) rotateX( 53deg ) rotateZ(270deg);
       -moz-transform:  perspective(1000px) rotateX( 53deg ) rotateZ(270deg);
         -o-transform:  perspective(1000px) rotateX( 53deg ) rotateZ(270deg);
            transform:  perspective(1000px) rotateX( 53deg ) rotateZ(270deg);
}


#board > .tile-container{
    position: absolute;
}

#board > .tile-container-top{
    left: 0;
    right: 0;
    top: 0;
    height: 13.33%;
    width: 86.66%;
}

#board > .tile-container-right{
    left: 100%;
    height: 13.33%;
    width: 86.66%;
    transform: rotateZ(90deg);
    transform-origin: 0% 0%;
}

#board > .tile-container-bottom{
    left: 100%;
    top: 100%;
    height: 13.33%;
    width: 86.66%;
    transform: rotateZ(180deg);
    transform-origin: 0% 0%;
}

#board > .tile-container-left{
    top: 100%;
    height: 13.33%;
    width: 86.66%;
    transform: rotateZ(270deg);
    transform-origin: 0% 0%;
}

#board > .tile-container >.tile{
    float: left;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 2px solid #000;
    width: 9.09%;
    height: 100%;
}

#board > .tile-container > .tile{
    transform: rotateZ(180deg);
}
#board > .tile-container > .tile::before{
    position: absolute;
    top: 3%;
    left: 3%;
    content: attr(data-tile);
}

#board > .tile-container > .tile-corner{
    width: 18.18%;
}


#board > .tile-container > .tile-building{
    background: #eeeeee;
}

#board > .tile-container > .tile-building > .title{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 40%;
    text-align: center;
    padding-top: 15px;
    border-top: 2px solid #000;
}


#board > .tile-container > .tile-risk,
#board > .tile-container > .tile-bank{
    background: #fff;
}

#board > .tile-container > .tile-risk > .title,
#board > .tile-container > .tile-bank > .title{
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    text-align: center;
    padding: 5px;
}

#board > .tile-container > .tile-risk > .title::before,
#board > .tile-container > .tile-bank > .title::before{
    position: absolute;
    left: -50%;
    top: 10%;
    right: -50%;
    bottom: -50%;
    z-index: 9999;
    font-size: 50px;
}


#board > .tile-container > .tile-risk > .title::before{
    content: "?";
    color: red;
}

#board > .tile-container > .tile-bank > .title::before{
    content: "$";
    color: gold;
}


#board > .tile-container > .tile-transport > .title{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 15px 0;
}


#board > .tile-container > .tile-green > .title{
    background: lightgreen;
}
#board > .tile-container > .tile-yellow > .title{
    background: yellow;
}
#board > .tile-container > .tile-orange > .title{
    background: orange;
}