body{
    overflow: hidden;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#306fd3+0,44497f+100 */
    background: #306fd3; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #306fd3 0%, #44497f 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#306fd3), color-stop(100%,#44497f)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #306fd3 0%,#44497f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #306fd3 0%,#44497f 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #306fd3 0%,#44497f 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #306fd3 0%,#44497f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#306fd3', endColorstr='#44497f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
}

#board{
    margin: 0 auto;
    border: 2px solid #000;
    font-size: 6px;
    text-transform: uppercase;
    font-weight: bold;
    background: #fff;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 150px 0 rgba(0,0,0,.5);
}


#board > .tile-container{
    position: absolute;
    height: 13.33%;
    width: 86.66%;
    transform-origin: 0% 0%;
}

#board .tile > .player-container{
    position: absolute;
    left: 2%;
    right: 0;
    top: 105%;
}

#board .tile .player{
    width: 10px;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #000;
    margin-right: 5px;
}


#board > .tile-container-top{
    left: 0;
    right: 0;
    top: 0;
}

#board > .tile-container-right{
    left: 100%;
    transform: rotateZ(90deg);
}

#board > .tile-container-bottom{
    left: 100%;
    top: 100%;
    transform: rotateZ(180deg);
}

#board > .tile-container-left{
    top: 100%;
    transform: rotateZ(270deg);
}

#board > .tile-container >.tile{
    position: relative;
    float: left;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 2px solid #000;
    width: 9.09%;
    height: 100%;
}

#board > .tile-container > .tile{
    transform: rotateZ(180deg);
}
#board > .tile-container > .tile::before{
    position: absolute;
    top: 3%;
    right: 3%;
    content: attr(data-field);
}

#board > .tile-container > .tile-corner{
    width: 18.18%;
}


#board > .tile-container > .tile-building{
    background: #eeeeee;
}

#board > .tile-container > .tile-building > .title{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #000;
}


#board > .tile-container > .tile-risk,
#board > .tile-container > .tile-bank,
#board > .tile-container > .tile-taxes{
    background: #fff;
}

#board > .tile-container > .tile-start{
    background: #CC333F;
}

#board > .tile-container > .tile-risk > .title,
#board > .tile-container > .tile-bank > .title,
#board > .tile-container > .tile-taxes > .title{
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    text-align: center;
    padding: 5px;
}


#board > .tile-container > .tile-start > .title{
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    font-size: 15px;
    text-align: center;
    color: #fff;
}


#board > .tile-container > .tile-taxes > .title > div{
    color: rgba(255,0,0,.7);
    font-size: 20px;
}

#board > .tile-container > .tile-risk > .title::before,
#board > .tile-container > .tile-bank > .title::before{
    position: absolute;
    left: -50%;
    top: 10%;
    right: -50%;
    bottom: -50%;
    z-index: 9999;
    font-size: 50px;
}


#board > .tile-container > .tile-risk > .title::before{
    content: "?";
    color: red;
}

#board > .tile-container > .tile-bank > .title::before{
    content: "$";
    color: gold;
}


#board > .tile-container > .tile-transport > .title{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 15px 0;
}


#board > .tile-container > .tile-green > .title{
    background: #B5D672;
}
#board > .tile-container > .tile-yellow > .title{
    background: #EDC951;
}
#board > .tile-container > .tile-orange > .title{
    background: #EB6841;
}
#board > .tile-container > .tile-lightblue > .title{
    background: #A5EBF2;
}
#board > .tile-container > .tile-brown > .title{
    background: #6A4A3C;
    color: #fff;
}
#board > .tile-container > .tile-rosa > .title{
    background: #E86FE8;
    color: #fff;
}
#board > .tile-container > .tile-red > .title{
    background: #CC333F;
    color: #fff;
}
#board > .tile-container > .tile-blue > .title{
    background: #00A0B0;
    color: #fff;
}


#board .tile .player-yellow,
.dot-yellow{
    background: #EDC951;
}
#board .tile .player-blue,
.dot-blue{
    background: #00A0B0;
}
#board .tile .player-red,
.dot-red{
    background: #CC333F;
}
#board .tile .player-green,
.dot-green{
    background: #B5D672;
}


.dot{
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-bottom: 4px;
}


#sidebar{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    background: rgba(0,0,0,.8);
    color: #fff;
    opacity: 0.6;
    transition: all 0.25s ease-in-out;
}

#sidebar:hover{
    width: 350px;
    opacity: 1;
}

#sidebar .reveal{
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

#sidebar:hover .reveal{
    opacity: 1;
}

.slide{
    position: absolute;
    right: 0;
    top: 0;
    left: 450px;
    bottom: 0;
    opacity: 0;
    padding: 15px;
    transition: all 0.25s ease-in-out;
}

.slide.active{
    left: 0;
    opacity: 1;
}

.slide a{
    color: #fff;
    text-decoration: none;
}

.slide a.btn{
    border-radius: 0;
    border: 0;
}

.slide a.btn-primary{
    background: #CC333F;
    color: #fff;
}


.slide .info-title{
}

.slide .info-title h2{
    margin-top: 10px;
}

.slide .info-container .large-action{
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    height: 115px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-top: 50px;
    background-color: #00A0B0;
    font-size: 15px;
    z-index: 1000;
    cursor: pointer;
}

.slide .info-title .pull-right p{
    padding: 15px 0;
}

.slide .info-title .pull-right .btn{
    margin: 10px 0;
}

.slide .info-box{
    text-align: right;
    position: relative;
}

.slide .info-box .title{
    font-weight: 100;
    font-size: 30px;
}

.slide .info-box .sub-title{
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.slide .info-container > .seperator{
    height: 1px;
    background: rgba(255,255,255,.3);
    margin: 40px 0 30px;
}
.slide .info-box .seperator{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: rgba(255,255,255,.3);
}


#log-container{
    overflow-y: scroll;
    max-height: 500px;
    padding-bottom: 130px;
}

#log-container .log{
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(255,255,255,0);
    padding: 8px 5px 5px;
}

#log-container .log:nth-child(2n+1){
    background: rgba(255,255,255,.1);
}


#log-container .log:nth-child(2){
    opacity: 0.9;
}
#log-container .log:nth-child(3){
    opacity: 0.8;
}
#log-container .log:nth-child(4){
    opacity: 0.7;
}
#log-container .log:nth-child(5){
    opacity: 0.6;
}
#log-container .log:nth-child(6){
    opacity: 0.55;
}
#log-container .log:nth-child(7){
    opacity: 0.5;
}
#log-container .log:nth-child(8){
    opacity: 0.45;
}
#log-container .log:nth-child(9){
    opacity: 0.4;
}
#log-container .log:nth-child(10){
    opacity: 0.3;
}
#log-container .log:nth-child(11){
    opacity: 0.3;
}
#log-container .log:nth-child(12){
    opacity: 0.3;
}
#log-container .log:nth-child(13){
    opacity: 0.3;
}
#log-container .log:nth-child(14){
    opacity: 0.3;
}
#log-container .log:nth-child(15){
    opacity: 0.3;
}

