body{
    overflow: hidden;
}

#board{
    margin: 0 auto;
    border: 3px solid #000;
    font-size: 6px;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(0,0,0,.1);
    transition: all 1s ease-in-out;
}


#board > .tile-container{
    position: absolute;
    height: 13.33%;
    width: 86.66%;
    transform-origin: 0% 0%;
}

#board > .tile-container-top{
    left: 0;
    right: 0;
    top: 0;
}

#board > .tile-container-right{
    left: 100%;
    transform: rotateZ(90deg);
}

#board > .tile-container-bottom{
    left: 100%;
    top: 100%;
    transform: rotateZ(180deg);
}

#board > .tile-container-left{
    top: 100%;
    transform: rotateZ(270deg);
}

#board > .tile-container >.tile{
    float: left;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 2px solid #000;
    width: 9.09%;
    height: 100%;
}

#board > .tile-container > .tile{
    transform: rotateZ(180deg);
}
#board > .tile-container > .tile::before{
    position: absolute;
    top: 3%;
    right: 3%;
    content: attr(data-tile);
}

#board > .tile-container > .tile-corner{
    width: 18.18%;
}


#board > .tile-container > .tile-building{
    background: #eeeeee;
}

#board > .tile-container > .tile-building > .title{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #000;
}


#board > .tile-container > .tile-risk,
#board > .tile-container > .tile-bank,
#board > .tile-container > .tile-taxes{
    background: #fff;
}

#board > .tile-container > .tile-start{
    background: red;
}

#board > .tile-container > .tile-risk > .title,
#board > .tile-container > .tile-bank > .title,
#board > .tile-container > .tile-taxes > .title{
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    text-align: center;
    padding: 5px;
}


#board > .tile-container > .tile-start > .title{
    position: absolute;
    left: 0;
    right: 0;
    top: 48%;
    font-size: 30px;
    text-align: center;
    color: #fff;
}


#board > .tile-container > .tile-taxes > .title > div{
    color: rgba(255,0,0,.7);
    font-size: 20px;
}

#board > .tile-container > .tile-risk > .title::before,
#board > .tile-container > .tile-bank > .title::before{
    position: absolute;
    left: -50%;
    top: 10%;
    right: -50%;
    bottom: -50%;
    z-index: 9999;
    font-size: 50px;
}


#board > .tile-container > .tile-risk > .title::before{
    content: "?";
    color: red;
}

#board > .tile-container > .tile-bank > .title::before{
    content: "$";
    color: gold;
}


#board > .tile-container > .tile-transport > .title{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 15px 0;
}


#board > .tile-container > .tile-green > .title{
    background: #B5D672;
}
#board > .tile-container > .tile-yellow > .title{
    background: #EDC951;
}
#board > .tile-container > .tile-orange > .title{
    background: #EB6841;
}
#board > .tile-container > .tile-lightblue > .title{
    background: #A5EBF2;
}
#board > .tile-container > .tile-brown > .title{
    background: #6A4A3C;
    color: #fff;
}
#board > .tile-container > .tile-rosa > .title{
    background: #E86FE8;
    color: #fff;
}
#board > .tile-container > .tile-red > .title{
    background: #CC333F;
    color: #fff;
}
#board > .tile-container > .tile-blue > .title{
    background: #00A0B0;
    color: #fff;
}